<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1084156983881-renceuqa9lfoa34jnq9f1f7fit0tuhgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084156983881-renceuqa9lfoa34jnq9f1f7fit0tuhgb</string>
	<key>API_KEY</key>
	<string>AIzaSyAjtWZsokn4LIMg7IBWhWBLUsTG4QpBteM</string>
	<key>GCM_SENDER_ID</key>
	<string>1084156983881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZND-Code.Catalogue-It---Personal-Collections</string>
	<key>PROJECT_ID</key>
	<string>catalogue-it</string>
	<key>STORAGE_BUCKET</key>
	<string>catalogue-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084156983881:ios:5bbc048c36b1a1b0</string>
	<key>DATABASE_URL</key>
	<string>https://catalogue-it.firebaseio.com</string>
</dict>
</plist>